<mat-toolbar color="primary" fxLayout>
  <mat-toolbar-row style="padding: 0 4px">

    <div fxFlex="0 1 auto" fxHide="true" fxShow.xs>
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <fa-icon icon="bars" size="lg"></fa-icon>
      </button>
    </div>

    <div fxFlex="0 1 calc(10em + 10px)" style="padding: 0 10px">
      <h2>Postal Service Portal</h2>
    </div>

    <div fxFlex="6 1 auto" fxLayoutAlign="flex-start" fxShow="true" fxHide.lt-xs>
      <ul fxLayout fxFlex fxLayoutGap="10px" class="navigation-items" fxHide.xs>
        <li *ngFor="let item of myWorkRoutes">
          <ng-container *ngIf="item.user !== 'admin'">
            <a routerLinkActive
               #routerLinkActiveInstance="routerLinkActive"
               [class.list-item-active]="routerLinkActiveInstance.isActive"
               [routerLinkActiveOptions]="{exact: item.activeOptions}"
               [routerLink]="[item.route]">
              {{item.title}}
            </a>
          </ng-container>
        </li>
      </ul>
    </div>

    <div fxFlex="0 1 auto">
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li>
          <button mat-icon-button>
            <h4>dev</h4>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <fa-icon icon="sign-out-alt" size="lg"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
